
.noti {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 64px);
    font-size: 24px;
}

.cart-container {
    margin: 20px 30px 0;
    display: flex;
    gap: 20px;

    .list-order {
        flex: 1;
        min-height: 100vh;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 10px;
    }

    .detail-order {
        flex: 1;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 10px;
    }
}