
.facility-container {
    cursor: pointer;
    width: 100%;

    .facility-1 {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        position: relative;
        padding: 20px;

        .facility-image {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            z-index: 10;
            overflow: hidden;
            transition: transform 0.3s ease;
            padding: 9px;
            border: 1px solid #ccc;
            background-color: #fff;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
                transition: transform 0.3s ease;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
        
        .infor {
            position: absolute;
            display: flex;
            right: 20px;
            justify-content: flex-end;
            flex-direction: column;
            background-color: #f9f9f9;
            border: 1px solid #ccc;
            font-size: 16px; 
            padding: 10px 10px 10px 80px;
            width: 350px;
            border-radius: 30px;

            p:first-child {
                font-weight: bold;
                font-size: 20px;
            }

            p:nth-child(2) {
                font-size: 16px;
                height: 48px;
                font-weight: 500;
            }

            p:nth-child(3) {
                font-size: 18px;
                font-weight: 700;
                font-style: italic;
                color: red;
            }
        }
    }


    .facility-2 {
        display: flex;
        position: relative;
        align-items: center;
        width: 100%;
        height: 100%;

        .facility-image {
            width: 200px;
            height: 200px;
            right: 20px;
            border-radius: 50%;
            z-index: 10;
            overflow: hidden;
            transition: transform 0.3s ease;
            padding: 9px;
            border: 1px solid #ccc;
            background-color: #fff;
            position: absolute;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
                transition: transform 0.3s ease;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
        

        .infor {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            width: 350px;
            border-radius: 30px;
            background-color: #f9f9f9;
            border: 1px solid #ccc;
            font-size: 16px; 
            padding: 10px 60px 10px 20px;
            margin-left: 20px;
            

            p:first-child {
                font-weight: bold;
                font-size: 20px;
            }

            p:nth-child(2) {
                font-size: 16px;
                height: 48px;
                font-weight: 500;
            }

            p:nth-child(3) {
                font-size: 18px;
                font-weight: 700;
                font-style: italic;
                color: red;
            }
        }
    }

}